@font-face {
    font-family: "Roboto-Bold";
    src: url("../Roboto-Bold.ttf");
}

body
{
    background-color: transparent;
    margin: 0px;
}

ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none; /* hii */
}

#chat
{
    position: absolute;
    top: 17px;
    left: 15px;
    padding: 7px;
    width: 38%;
    font-size: 0.9rem;
    font-family: "Roboto-Bold";
    background-color: transparent;
    color: #fff;
    overflow: hidden;
    text-shadow: 2px 2px #000000;
}

input.fake
{
    position: absolute;
    top: -10000px;
    left: -10000px;
}

#chatInputHas
{
    display: none;
}

#chatInputHas strong
{
  font-size: 1.2rem;
  position: absolute;

  top: 257px;
  left: 15px;
  width: 38%;

  box-sizing: border-box;
}

#chatInput
{
  font-size: 1.1rem;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 35px;
  
  display: inline-block;
  vertical-align: middle;
  white-space: pre;
  
  color: white;
  background-color: rgba(35, 40, 46, 0.5);
  box-shadow : 0px 0px 10px 0px #000000;
  width: 100%;
  border-width: 0;
  height: 34px;
  overflow: hidden;
}

#chatInput * > div:first-child
{
    display: inline-block;
    vertical-align: middle;
    height: 23px;
    line-height: 20px;
}

#chatInput .caret
{
    display: inline-block;
    min-width: 1px;
    height: 22px;
    margin-left: 1px;
    vertical-align: bottom;
    background-color: #fff;
    box-shadow: 0px 0px 1px #333;
    color: white;
}

#chatBuffer
{
    height: 250px;
    overflow: hidden;
}

.color-1{color: #ff4444;}
.color-2{color: #99cc00;}
.color-3{color: #ffbb33;}
.color-4{color: #0099cc;}
.color-5{color: #33b5e5;}
.color-6{color: #aa66cc;}
.color-8{color: #cc0000;}
.color-9{color: #cc0000;}