<html style="overflow-x: hidden; overflow-y: hidden;">
    <header>
        <title>K9 Menu (escrito por Xander1998 (X. Cross)</title>
        <script src="libraries/vue.min.js"></script>
        <script src="libraries/vuetify.js"></script>
        <script src="libraries/axios.min.js"></script>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
        <link rel="stylesheet" href="libraries/vuetify.css">
        <link rel="stylesheet" href="style.css">
    </header>
    <body>

        <div id="app">
            <v-app style="background-color: transparent !important">
                <div id="k9_menu_base" v-show="show_app">
                    <div id="k9_menu_header">
                        <img id="dog_icon_left" src="images/dog_left.png">
                        PETSHOP DO ZÉ
                        <img id="dog_icon_right" src="images/dog_right.png">
                    </div>

                    <div id="k9_menu_body">

                        <div id="k9_main_tab" v-show="current_tab == 'main'">
                            <v-btn block color="dark" dark @click="ToggleNameChanger()">Trocar Nome</v-btn>
                            <v-btn block color="dark" dark @click="ToggleModelChanger()">Trocar Animal</v-btn>
                            <v-btn block color="dark" dark @click="Adestrar()">Adotar Animal</v-btn>
                            <v-btn block color="dark" dark @click="Abandonar()">Doar Animal</v-btn>
                            <v-btn block color="dark" dark @click="OpenTab('animation')">Animações</v-btn>
                        </div>

                        <div id="k9_animations_tab" v-show="current_tab == 'animation'">
                            <v-btn block color="dark" dark @click="DogSit()">Sentar</v-btn>
                            <v-btn block color="dark" dark @click="DogLaydown()">Deitar</v-btn>
                            <v-btn block color="dark" dark @click="OpenTab('main')">Voltar</v-btn>
                        </div>
                        <v-btn block color="red" dark @click="DisableApp()">Fechar Menu</v-btn>
                    </div>

                    <div id="k9_name_modal">
                        <v-dialog v-model="k9_name_modal" max-width="500px">
                            <v-card>
                                <v-card-title id="k9_name_header">Qual o nome do cachorro?</v-card-title>
                                <v-divider></v-divider>
                                <v-card-text>
                                    <v-form v-model="k9_name_form_valid">
                                        <v-text-field label="Name" :rules="k9_name_rules" :counter="10" v-model="dog_name"></v-text-field>
                                        <v-btn color="blue" dark block @click="SetK9Name()">Trocar</v-btn>
                                    </v-form>
                                </v-card-text>
                            </v-card>
                        </v-dialog>
                    </div>

                    <div id="k9_model_modal">
                        <v-dialog v-model="k9_model_modal" max-width="70%">
                            <v-card>
                                <v-card-title id="k9_model_header">Escolha a Raça</v-card-title>
                                <v-divider></v-divider>
                                <v-card-text>

                                    <v-container grid-list-md text-xs-center>
                                        <v-layout row>
                                            <v-flex xs12 v-for="model in dog_models_list">
                                                <v-card>
                                                    <v-card-media :src="model.img"></v-card-media>
                                                    <v-card-media :src="model.img" height="200px" contain></v-card-media>
                                                    <v-card-title id="model_header_text">{{model.title}}</v-card-title>
                                                    <v-card-actions>
                                                        <v-btn color="blue" block dark @click="ChooseK9Model(model.model)">Escolher</v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                    
                                </v-card-text>
                            </v-card>
                        </v-dialog>
                    </div>

                </div>
            </v-app>
        </div>

        <script src="script.js"></script>
    </body>
</html>