<head >
	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script src="scripts.js" type="text/javascript"></script>
	<script src="debounce.min.js" type="text/javascript"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles.css" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>
	<div class="full-screen">
		<div class="bank-container">
			<div class="header">
				<div class="logo">
					<img src="logo.png" >
				</div>
			</div>
			<div class="header2">
				<h3 style="padding-top: 25px; padding-left: 50px; color:white;"class="sans">Bem Vindo Novamente
					 <span style="color: rgb(132, 166, 194);" class="username">Unknown</span>

				</h3>
			</div>

			<div class="body home">

				<div class="centered">
					<form class="formboard" id="withdraw-form"> 
						<div class="sacardin">Sacar Dinheiro </div>
							<div class="saldobox">
								</br>
								<i >Saldo em Conta</i></br>
								<span class="currentBalance"></span>
							</div>
						<input style="color:white;" id="amount" type="text" placeholder="Quantia" class="sans" required/><br>
						<div class="botaofix">
							<button style="float: bottom;" type="submit" id="submit" class="submit sans">Sacar</button>
						</div>
					</form>


					<form class="formboard" id="deposit-form">
						<div class="depositdin">Depositar Dinheiro </div>
						<div class="saldobox">
							</br><i>Valor para Depositar</i>
						</div>
						<input style="color:white;" id="amount" type="text" placeholder="Quantia" class="sans" required/><br>
						<div class="botaofix">
							<button type="submit" id="submit" class="submit sans">Depositar</button>
						</div>
					</form>


					<form class="formboard" id="transfer-form">
						<div class="transferdin">Transferir Dinheiro </div>
						<div class="saldobox">
							</br><i>Valor da Transferencia</i>
						</div>
						<input style="color:white;" id="amount" type="text" placeholder="Quantia" class="sans" required/><br>

						<input style="color:white; margin-top: -30px;" id="toPlayer" type="text" placeholder="ID  da  Conta" class="sans" required/><br>
						<div class="botaofix">
						<button type="submit" id="submit" class="submit sans">Transferir</button>
						</div>
					</form>

					<div class="menurapido">
							<div class="menurapidoct">
								<div class="quickmenu">Opções Rápidas</div>
							</div>
							<a id="ajustebutton" class="buttonnew btnQuick">Retirar R$1500</a>
						</div>

				</div>

					<div class="fecharbank">
						<a  class="btnClose"><i class="fas fa-sign-out-alt"></i></a>
					</div>
					<div class="menubank">
						<a  class="menubank"><i class="fas fa-align-justify"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
